<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TEMPLATE_DIRECTORY" value="D:\LabelTemplates" />
    <add key="TEMPLATE_FRAME" value="TicketBarcode.lbx" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MiidWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MiidWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://miid.co.za/MiidWebservice.asmx" binding="basicHttpBinding"
                bindingConfiguration="MiidWebServiceSoap" contract="ServiceReference1.MiidWebServiceSoap"
                name="MiidWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>